- name: Configure a full set of ALPACA commands                       # Name of the Playbook
  hosts: local                                                        # Hostname or group defined in the corresponding inventory
  gather_facts: false

  ## WARNING ##
  # Use this template with extreme caution!
  # The module "pcg.alpaca_operator.alpaca_command_set" takes full control of the command set on the target system.
  # Any existing commands that are not explicitly defined in this playbook will be removed from the target system.
  #############

  tasks:
    - name: Ensure ALPACA command set is configured as defined
      pcg.alpaca_operator.alpaca_command_set:
        # --- System identification (either system_name or system_id is required) ---
        system:
          # system_name: "My System"                                  # Optional if system_id is used
          # system_id: 1                                              # Optional if system_name is used

        # --- Full command list to apply to the system (existing commands not listed will be removed!!!) ---
        commands:
          - name: "BKP: DB log sync"                                  # Command 1

            # --- Desired state ---
            state: present                                            # present | absent

            # --- Agent assignment (either agent_name or agent_id is required) ---
            # agent_name: "ansible_testing_agent_03"                  # Optional if agent_id is used
            # agent_id: 123                                           # Optional if agent_name is used

            # --- Process configuration ---
            # process_id: 801                                         # Optional if process_central_id is used
            # process_central_id: 8990048                             # Optional if process_id is used

            # --- Command parameters definition ---
            parameters: "-p GLTarch -s <BKP_LOG_SRC> -l 4 -d <BKP_LOG_DEST1> -r <BKP_LOG_DEST2> -b <BKP_LOG_CLEANUP_INT> -t <BKP_LOG_CLEANUP_INT2> -h DB_HOST"

            # --- Scheduling configuration ---
            schedule:
              period: manually                                        # Options: manually, cron_expression, every_5min, fixed_time, etc.
              time: "12:12:12"                                        # Required for fixed_time or fixed_time_once
              cron_expression: ""                                     # Required if period is 'cron_expression'
              days_of_week:                                           # Optional: days when the command should run
                - monday
                - sunday
                - wednesday

            # --- Command flags ---
            parameters_needed: false
            disabled: true                                            # Set to true to disable the command
            critical: true                                            # Indicates if command is critical
            auto_deploy: false

            # --- Command history retention ---
            history:
              document_all_runs: false                                # Whether to log all executions
              retention: 200

            # --- Timeout configuration ---
            timeout:
              type: default                                           # none | default | custom
              value: 30                                               # Timeout in seconds (used if type is custom or default)

            # --- Escalation configuration ---
            escalation:
              mail_enabled: true
              sms_enabled: true
              mail_address: "monitoring@pcg.io"
              sms_address: "0123456789"
              min_failure_count: 1
              triggers:
                every_change: true
                to_red: false
                to_yellow: false
                to_green: true

          - name: "BKP: DB log sync 2"                                # Command 2
            state: present                                            # present | absent

            # --- Agent assignment (either agent_name or agent_id is required) ---
            # agent_name: "ansible_testing_agent_03"                  # Optional if agent_id is used
            # agent_id: 123                                           # Optional if agent_name is used

            # --- Process configuration ---
            # process_id: 801                                         # Optional if process_central_id is used
            # process_central_id: 8990048                             # Optional if process_id is used

            # --- Command parameters definition ---
            parameters: "-p GLTarch -s <BKP_LOG_SRC> -l 4 -d <BKP_LOG_DEST1> -r <BKP_LOG_DEST2> -b <BKP_LOG_CLEANUP_INT> -t <BKP_LOG_CLEANUP_INT2> -h DB_HOST"

            # --- Scheduling configuration ---
            schedule:
              period: manually                                        # Options: manually, cron_expression, every_5min, fixed_time, etc.
              time: "12:12:12"                                        # Required for fixed_time or fixed_time_once
              cron_expression: ""                                     # Required if period is 'cron_expression'
              days_of_week:                                           # Optional: days when the command should run
                - monday
                - sunday
                - wednesday

            # --- Command flags ---
            parameters_needed: false
            disabled: true                                            # Set to true to disable the command
            critical: true                                            # Indicates if command is critical
            auto_deploy: false

            # --- Command history retention ---
            history:
              document_all_runs: false                                # Whether to log all executions
              retention: 200

            # --- Timeout configuration ---
            timeout:
              type: default                                           # none | default | custom
              value: 30                                               # Timeout in seconds (used if type is custom or default)

            # --- Escalation configuration ---
            escalation:
              mail_enabled: true
              sms_enabled: true
              mail_address: "monitoring@pcg.io"
              sms_address: "0123456789"
              min_failure_count: 1
              triggers:
                every_change: true
                to_red: false
                to_yellow: false
                to_green: true

        # --- API connection configuration ---
        api_connection:
          host: "{{ ALPACA_Operator_API_Host }}"                    # Defined in the corresponding inventory
          protocol: "{{ ALPACA_Operator_API_Protocol }}"            # Defined in the corresponding inventory
          port: "{{ ALPACA_Operator_API_Port }}"                    # Defined in the corresponding inventory
          username: "{{ ALPACA_Operator_API_Username }}"            # Defined in the corresponding inventory
          password: "{{ ALPACA_Operator_API_Password }}"            # Defined in the corresponding inventory
          tls_verify: "{{ ALPACA_Operator_API_Validate_Certs }}"    # Defined in the corresponding inventory