- name: Configure full ALPACA Operator "stack" on target hosts      # Name of the Playbook
  hosts: local                                                      # Hostname or group defined in the corresponding inventory
  gather_facts: false

  vars:
    group_name: "ansible_testing_group_01"
    agent_name_1: "ansible_testing_agent_01"
    agent_name_2: "ansible_testing_agent_02"
    system_name: "ansible01"

  tasks:
    - name: "1. Ensure ALPACA group {{ group_name }} exists"
      pcg.alpaca_operator.alpaca_group:
        name: "{{ group_name }}"
        state: present
        api_connection:
          host: "{{ ALPACA_Operator_API_Host }}"
          protocol: "{{ ALPACA_Operator_API_Protocol }}"
          port: "{{ ALPACA_Operator_API_Port }}"
          username: "{{ ALPACA_Operator_API_Username }}"
          password: "{{ ALPACA_Operator_API_Password }}"
          tls_verify: "{{ ALPACA_Operator_API_Validate_Certs }}"

    - name: "2. Ensure ALPACA agent {{ agent_name_1 }} exists"
      pcg.alpaca_operator.alpaca_agent:
        name: "{{ agent_name_1 }}"
        description: "PCG Ansible Test Agent {{ agent_name_1 }}"
        ip_address: "10.1.1.1"
        location: "virtual"
        escalation:
          failures_before_report: 1
          mail_enabled: false
          mail_address: "monitoring@pcg.io"
          sms_enabled: true
          sms_address: "0123456789"
        state: present
        api_connection:
          host: "{{ ALPACA_Operator_API_Host }}"
          protocol: "{{ ALPACA_Operator_API_Protocol }}"
          port: "{{ ALPACA_Operator_API_Port }}"
          username: "{{ ALPACA_Operator_API_Username }}"
          password: "{{ ALPACA_Operator_API_Password }}"
          tls_verify: "{{ ALPACA_Operator_API_Validate_Certs }}"

    - name: "3. Ensure ALPACA agent {{ agent_name_2 }} exists"
      pcg.alpaca_operator.alpaca_agent:
        name: "{{ agent_name_2 }}"
        description: "PCG Ansible Test Agent {{ agent_name_2 }}"
        ip_address: "10.1.1.2"
        location: "virtual"
        escalation:
          failures_before_report: 2
          mail_enabled: true
          mail_address: "monitoring@pcg.io"
          sms_enabled: false
          sms_address: "0123456789"
        state: present
        api_connection:
          host: "{{ ALPACA_Operator_API_Host }}"
          protocol: "{{ ALPACA_Operator_API_Protocol }}"
          port: "{{ ALPACA_Operator_API_Port }}"
          username: "{{ ALPACA_Operator_API_Username }}"
          password: "{{ ALPACA_Operator_API_Password }}"
          tls_verify: "{{ ALPACA_Operator_API_Validate_Certs }}"

    - name: "4. Ensure ALPACA system {{ system_name }} exists"
      pcg.alpaca_operator.alpaca_system:
        name: "{{ system_name }}"
        description: "PCG Ansible Test {{ system_name }}"
        magic_number: 59
        checks_disabled: false
        group_name: "{{ group_name }}"
        rfc_connection:
          type: instance
          host: "{{ system_name }}-host"
          instance_number: 42
          sid: "ABC"
          logon_group: "{{ system_name }}-lgroup"
          username: "rfc_myUser"
          # password: "rfc_myPasswd"
          client: "123"
          sap_router_string: "rfc_SAPRouter"
          snc_enabled: false
        agents:
          - name: "{{ agent_name_1 }}"
          - name: "{{ agent_name_2 }}"
        variables:
          - name: "<BKP_DATA_CLEANUP_INT2>"
            value: "55"
          - name: "<BKP_DATA_DEST1>"
            value: "42"
          - name: "<BKP_DATA_CLEANUP_INT>"
            value: "12"
        state: present
        api_connection:
          host: "{{ ALPACA_Operator_API_Host }}"
          protocol: "{{ ALPACA_Operator_API_Protocol }}"
          port: "{{ ALPACA_Operator_API_Port }}"
          username: "{{ ALPACA_Operator_API_Username }}"
          password: "{{ ALPACA_Operator_API_Password }}"
          tls_verify: "{{ ALPACA_Operator_API_Validate_Certs }}"

    - name: "5. Ensure a command set is deployed for {{ system_name }}"
      pcg.alpaca_operator.alpaca_command_set:
        system:
          system_name: "{{ system_name }}"
        commands:
          - name: "BKP: DB log sync 1"
            agent_name: "{{ agent_name_1 }}"
            process_central_id: 8990048
            parameters: "-p GLTarch -s <BKP_LOG_SRC> -l 4 -d <BKP_LOG_DEST1> -r <BKP_LOG_DEST2> -b <BKP_LOG_CLEANUP_INT> -t <BKP_LOG_CLEANUP_INT2> -h DB_HOST"
            schedule:
              period: every_5min
              time: "11:11:11"
              cron_expression: ""
              days_of_week:
                - monday
                - sunday
            parameters_needed: false
            disabled: true
            critical: true
            history:
              document_all_runs: false
              retention: 100
            auto_deploy: false
            timeout:
              type: default
              value: 10
            escalation:
              mail_enabled: true
              sms_enabled: true
              mail_address: "monitoring@pcg.io"
              sms_address: "0123456789"
              min_failure_count: 1
              triggers:
                every_change: true
                to_red: false
                to_yellow: false
                to_green: true

          - name: "BKP: DB log sync 2"
            agent_name: "{{ agent_name_2 }}"
            process_central_id: 8000039
            parameters: "-p GLTarch -s <BKP_LOG_SRC> -l 4 -d <BKP_LOG_DEST1> -r <BKP_LOG_DEST2> -b <BKP_LOG_CLEANUP_INT> -t <BKP_LOG_CLEANUP_INT2> -h DB_HOST"
            schedule:
              period: manually
              time: "12:12:12"
              cron_expression: ""
              days_of_week:
                - monday
                - wednesday
                - friday
                - sunday
            parameters_needed: false
            disabled: true
            critical: true
            history:
              document_all_runs: false
              retention: 200
            auto_deploy: false
            timeout:
              type: custom
              value: 20
            escalation:
              mail_enabled: true
              sms_enabled: true
              mail_address: "monitoring@pcg.io"
              sms_address: "0123456789"
              min_failure_count: 1
              triggers:
                every_change: true
                to_red: false
                to_yellow: false
                to_green: true

        api_connection:
          host: "{{ ALPACA_Operator_API_Host }}"
          protocol: "{{ ALPACA_Operator_API_Protocol }}"
          port: "{{ ALPACA_Operator_API_Port }}"
          username: "{{ ALPACA_Operator_API_Username }}"
          password: "{{ ALPACA_Operator_API_Password }}"
          tls_verify: "{{ ALPACA_Operator_API_Validate_Certs }}"