- name: Test Alpaca Groups Module against Test Hosts
  hosts: alpaca
  gather_facts: false

  tasks:

    - name: Delete a specific command
      pcg.alpaca_operator.alpaca_command:
        # --- System identification (either system_name or system_id is required) ---
        system:
          # system_name: "My System"                                # Optional if system_id is used
          # system_id: 1                                            # Optional if system_name is used
        command:
          name: "BKP: DB log sync 3"                                # Required: Command description (acts as identifier in combination with the agent_name or agent_id)
          # --- Agent assignment (either agent_name or agent_id is required) ---
          # agent_name: "ansible_testing_agent_03"                  # Optional if agent_id is used
          # agent_id: 123                                           # Optional if agent_name is used
          state: absent
        api_connection:
          host: "{{ ALPACA_Operator_API_Host }}"
          protocol: "{{ ALPACA_Operator_API_Protocol }}"
          port: "{{ ALPACA_Operator_API_Port }}"
          username: "{{ ALPACA_Operator_API_Username }}"
          password: "{{ ALPACA_Operator_API_Password }}"
          tls_verify: "{{ ALPACA_Operator_API_Validate_Certs }}"

    - name: Delete ALL commands in a system
      pcg.alpaca_operator.alpaca_command_set:
        # --- System identification (either system_name or system_id is required) ---
        system:
          # system_name: "My System"                                # Optional if system_id is used
          # system_id: 1                                            # Optional if system_name is used
        commands: []
        api_connection:
          host: "{{ ALPACA_Operator_API_Host }}"
          protocol: "{{ ALPACA_Operator_API_Protocol }}"
          port: "{{ ALPACA_Operator_API_Port }}"
          username: "{{ ALPACA_Operator_API_Username }}"
          password: "{{ ALPACA_Operator_API_Password }}"
          tls_verify: "{{ ALPACA_Operator_API_Validate_Certs }}"

    - name: Delete a system
      pcg.alpaca_operator.alpaca_system:
        name: "My System"                                           # Required: System name
        state: absent
        api_connection:
          host: "{{ ALPACA_Operator_API_Host }}"
          protocol: "{{ ALPACA_Operator_API_Protocol }}"
          port: "{{ ALPACA_Operator_API_Port }}"
          username: "{{ ALPACA_Operator_API_Username }}"
          password: "{{ ALPACA_Operator_API_Password }}"
          tls_verify: "{{ ALPACA_Operator_API_Validate_Certs }}"

    - name: Delete a group
      pcg.alpaca_operator.alpaca_group:
        name: "My Group"                                            # Required: Agent name
        state: absent
        api_connection:
          host: "{{ ALPACA_Operator_API_Host }}"
          protocol: "{{ ALPACA_Operator_API_Protocol }}"
          port: "{{ ALPACA_Operator_API_Port }}"
          username: "{{ ALPACA_Operator_API_Username }}"
          password: "{{ ALPACA_Operator_API_Password }}"
          tls_verify: "{{ ALPACA_Operator_API_Validate_Certs }}"

    - name: Delete an agent
      pcg.alpaca_operator.alpaca_agent:
        name: "My Agent"                                            # Required: Agent name
        state: absent
        api_connection:
          host: "{{ ALPACA_Operator_API_Host }}"
          protocol: "{{ ALPACA_Operator_API_Protocol }}"
          port: "{{ ALPACA_Operator_API_Port }}"
          username: "{{ ALPACA_Operator_API_Username }}"
          password: "{{ ALPACA_Operator_API_Password }}"
          tls_verify: "{{ ALPACA_Operator_API_Validate_Certs }}"