---
- name: "Debug: System variables defined for system {{ csv.system_name }}"
  debug:
    var: system.variables
    verbosity: 1

# - name: "Debug: Exit here for testing and debugging reasons"
#   meta: end_play
#   when: true

- name: Prepare and configure ALPACA system for {{ csv.system_name }}
  set_fact:
    name: "{{ csv.system_name | default(omit) }}"
    variables: "{{ system.variables | default(omit) }}"
    apiConnection:
      host: "{{ ALPACA_Operator_API_Host }}"
      protocol: "{{ ALPACA_Operator_API_Protocol }}"
      port: "{{ ALPACA_Operator_API_Port }}"
      username: "{{ ALPACA_Operator_API_Username }}"
      password: "{{ ALPACA_Operator_API_Password }}"
      tls_verify: "{{ ALPACA_Operator_API_Validate_Certs }}"

- name: "Debug: Show task content"
  debug:
    var: "{ 'name': name, 'variables': variables, 'apiConnection': apiConnection }"
    verbosity: 1

- name: "Ensure system {{ csv.system_name }} is configured"
  pcg.alpaca_operator.alpaca_system:
    name: "{{ name }}"
    variables: "{{ variables }}"
    apiConnection: "{{ apiConnection }}"