- name: Configure ALPACA Operator command for {{ system.systemName }}
  hosts: local
  gather_facts: false

  tasks:
    - name: "Ensure command {{ commandName }} is configured"
      pcg.alpaca_operator.alpaca_command:
        system:
          {% if system.systemName is defined -%}                            systemName: "{{ system.systemName }}"                         {%- endif +%}
          {% if system.systemId is defined -%}                              systemId: "{{ system.systemId }}"                             {%- endif +%}
        command:
          state: present
          {% if commandName is defined -%}                                  name: "{{ commandName }}"                                     {%- endif +%}
          {% if command.agentName is defined -%}                            agentName: "{{ command.agentName }}"                          {%- endif +%}
          {% if command.agentId is defined -%}                              agentId: "{{ command.agentId }}"                              {%- endif +%}
          {% if commandParameters is defined -%}                            parameters: "{{ commandParameters }}"                         {%- endif +%}

          {% if commandSchedule is defined -%}
          schedule:
            {% if commandSchedule.period is defined -%}                     period: "{{ commandSchedule.period }}"                        {%- endif +%}
            {% if commandSchedule.time is defined -%}                       time: "{{ commandSchedule.time }}"                            {%- endif +%}
            {% if commandSchedule.cronExpression is defined -%}             cronExpression: "{{ commandSchedule.cronExpression }}"        {%- endif +%}
            {% if commandSchedule.daysOfWeek is defined -%}
            daysOfWeek:
              {% for day in commandSchedule.daysOfWeek -%}
              - {{ day }}
              {%+ endfor %}
            {%- endif +%}
          {%- endif +%}
          {% if commandParametersNeeded is defined -%}                      parametersNeeded: {{ commandParametersNeeded }}               {%- endif +%}
          {% if commandDisabled is defined -%}                              disabled: {{ commandDisabled }}                               {%- endif +%}
          {% if commandCritical is defined -%}                              critical: {{ commandCritical }}                               {%- endif +%}
          {% if commandAutoDeploy is defined -%}                            autoDeploy: {{ commandAutoDeploy }}                           {%- endif +%}
          {% if commandHistory is defined -%}
          history:
            {% if commandHistory.documentAllRuns is defined -%}             documentAllRuns: {{ commandHistory.documentAllRuns }}         {%- endif +%}
            {% if commandHistory.retention is defined -%}                   retention: {{ commandHistory.retention }}                     {%- endif +%}
          {%- endif +%}
          {% if commandTimeout is defined -%}
          timeout:
            {% if commandTimeout.type is defined -%}                        type: {{ commandTimeout.type }}                               {%- endif +%}
            {% if commandTimeout.value is defined -%}                       value: {{ commandTimeout.value }}                             {%- endif +%}
          {%- endif +%}
          {% if commandEscalation is defined -%}
          escalation:
            {% if commandEscalation.mailEnabled is defined -%}              mailEnabled: {{ commandEscalation.mailEnabled }}              {%- endif +%}
            {% if commandEscalation.smsEnabled is defined -%}               smsEnabled: {{ commandEscalation.smsEnabled }}                {%- endif +%}
            {% if commandEscalation.mailAddress is defined -%}              mailAddress: "{{ commandEscalation.mailAddress }}"            {%- endif +%}
            {% if commandEscalation.smsAddress is defined -%}               smsAddress: "{{ commandEscalation.smsAddress }}"              {%- endif +%}
            {% if commandEscalation.minFailureCount is defined -%}          minFailureCount: {{ commandEscalation.minFailureCount }}      {%- endif +%}
            {% if commandEscalation.triggers is defined -%}
            triggers:
              {% if commandEscalation.triggers.everyChange is defined -%}   everyChange: {{ commandEscalation.triggers.everyChange }}     {%- endif +%}
              {% if commandEscalation.triggers.toRed is defined -%}         toRed: {{ commandEscalation.triggers.toRed }}                 {%- endif +%}
              {% if commandEscalation.triggers.toYellow is defined -%}      toYellow: {{ commandEscalation.triggers.toYellow }}           {%- endif +%}
              {% if commandEscalation.triggers.toGreen is defined -%}       toGreen: {{ commandEscalation.triggers.toGreen }}             {%- endif +%}
            {%- endif +%}
          {%- endif +%}
        apiConnection:
          host: "{{ api_connection.host }}"
          protocol: "{{ api_connection.protocol }}"
          port: "{{ api_connection.port }}"
          username: "{{ api_connection.username }}"
          password: "{{ api_connection.password }}"
          tls_verify: "{{ api_connection.tls_verify }}"